*{
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

html, 
body {
  height: 100%;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  font-family: sans-serif;
  background-color: #ededed;
  height: 100%;
  min-height: 100vh;
  color: #fff;
}

h1 {
  font-size: 16px;
  padding: 4px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #4e4e4e;
}
