.tasklist {
    padding: 8px;
    background-color: #FFF;
    border-radius: 2px;
}

.tasklist .title {
    padding: 4px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #4e4e4e;
}

.tasklist .content {
    padding: 16px 4px;
    display: flex;
    flex-direction: column;
    color: #4e4e4e;
}

.tasklist .content .empty-list {
    text-align: center;
    border: 1px dashed #4e4e4e;
    border-radius: 5px;
    padding: 4px;
}

button {
    margin-top: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #4e4e4e;
    transition: background-color 0.3s;   
}

button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}